* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    height: 80px;
    width: 100%;
    background-color: #faf7f7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.left {
    padding-left: 20px;
}

.left img {
    border-radius: 5%;
    max-width: 100%;
}

.middle {
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.middle a {
    text-decoration: none;
    color: black;
}

.right {
    display: flex;
    align-items: center;
    position: relative;
}

#profileicon {
    color: #ED5B25;
    font-size: 40px;
    cursor: pointer;
    margin-right: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown_content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #e9f0f0;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown_content span,
.darkmode span {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #000;
    transition: 0.2s;
    border-top: 1px solid #ccc;
}

.dropdown_content span:hover {
    background-color: #ED5B25;
    color: #e9f0f0;
}

.right h3:hover,
.middle a:hover {
    color: #ED5B25;
    /* text-decoration: underline; */
}

#registerContainer,
#loginContainer {
    position: absolute;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: none;
    background: transparent;
    background-color: rgb(181, 181, 181, 0.3);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 999;
}

#registerContainer {
    z-index: 999;
}

#loginContainer {
    z-index: 999;
}

.registerbox,
.loginbox {
    height: 100%;
    width: 70%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: rgb(248, 247, 245);
}

.registerbox img,
.loginbox img {
    height: 100%;
    width: 48%;
}

.registerform,
.loginform {
    padding: 20px 5px 20px 5px;
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.registerform form,
.loginform form {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width: 60%;
}

.registerform form input,
.loginform form input {
    border: none;
    border-bottom: 1.5px solid black;
    margin: 10px 0 10px 0;
    /* border-radius: 5px; */
    background-color: rgb(248, 247, 245);
    height: 25px;
    outline: none;
    transition: all 1s ease-in none;
    cursor: text;
}

#name,
#email,
#number,
#password {
    padding: 0 5px 0 25px;
}

.registerform form label {
    font-size: 18px;
    color: #2e2c2b;
    font-weight: 530;
    position: relative;
    top: 8.3%;
    left: 8.5%;
}

.registerform form i {
    position: relative;
    top: 12.5%;
    left: 2%;
}

.loginform form label {
    font-size: 18px;
    color: #2e2c2b;
    font-weight: 530;
    position: relative;
    top: 12%;
    left: 8%;
}

.loginform form i {
    position: relative;
    top: 17%;
    left: 1%;
}

.registerform h3,
.loginform h3 {
    font-weight: 800;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#close-login {
    position: relative;
    top: -5%;
    left: 48%;
    font-size: 30px;
    cursor: pointer;
}

#close-reg {
    position: relative;
    top: -2%;
    left: 47%;
    font-size: 30px;
    cursor: pointer;
}

#close-login:hover,
#close-reg:hover {
    color: #ED5B25;
}

#policy {
    width: 12px;
    height: 12px;
    cursor: pointer;
}

#policy-label {
    top: -6%;
    font-size: 13px;
    margin-left: 5px;
}

.registerform button,
.loginform button {
    width: 50%;
    height: 7%;
    font-size: 25px;
    color: rgb(248, 247, 245);
    border: 2px #ED5B25 solid;
    border-radius: 10px;
    background: #ED5B25;
    transition: all 0.5s ease 0.05s;
}

.registerform form input:active {
    border-color: #ed5b25;
}

.registerform button:hover,
.loginform button:hover {
    transform: scale(1.2);
}

.loginform p {
    display: inline;
}

.registerform a,
.loginform a {
    text-decoration: none;
    font-size: 15px;
}

#page1 {
    height: 100vh;
    width: 100vw;
    background-image: url(./photos/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

#option {
    position: relative;
    top: 40%;
    width: 100%;
    background-color: rgba(121, 119, 119, 0.4);
    color: #faf7f7;
    font-weight: 80;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.booking {
    position: relative;
    top: 40%;
    height: 30%;
    width: 100%;
    display: flex;
    border: 1px solid #e9f0f0;
    border-radius: 5px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #e9f0f0;
    padding-left: 30px;
}

.journey {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    mix-blend-mode: multiply;
    padding: 0 90px 0 0;
}

.from input,
.to input {
    border: none;
    border-bottom: 1px solid #2e2c2b;
    height: 18px;
    width: 200px;
    outline: none;
}

.from label,
.to label {
    font-size: 14px;
}

.search-train {
    margin-left: 50px;
    font-size: 20px;
    height: 40px;
    width: 170px;
    color: #ffffff;
    background-color: #ed5b25;
    border: 1px solid #ED5B25;
    border-radius: 5px;
    transition: all 0.2s ease-in 0.05s;
}

.search-train:hover {
    transform: scale(1.1);
}

.opt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 35%;
    width: 70%;
    background-color: rgb(223, 123, 87, 0.4);
    margin: 0 0 10px 0;
    border-radius: 5px;
}

.opt_1 {
    border-bottom: 3px solid #ED5B25;
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#free-cancel {
    height: 20px;
    width: 20px;
}

.free-cancel-text {
    font-size: 18px;
    display: inline;
    margin-left: 10px;
}

.details {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.details p {
    color: #676363;
    font-weight: 100;
}

#exchange {
    position: relative;
    width: 24px;
    height: 24px;
    top: 20%;
    mix-blend-mode: multiply;
    cursor: pointer;
}

.pnr_status,
.running_status,
.train_details {
    position: relative;
    top: 40%;
    height: 15%;
    width: 100%;
    background-color: #ffffff;
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
}

.pnr_info,
.run_info,
.train_info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 35%;
    background-color: rgb(223, 123, 87, 0.4);
}

.pnr_info img,
.run_info img,
.train_info img {
    width: 50px;
    height: 50px;
}

.pnr_no,
.train_no,
.train_no_name {
    padding-right: 130px;
}

.pnr_no input,
.train_no input,
.train_no_name input {
    border: none;
    border-bottom: 1px solid #2e2c2b;
    outline: none;
    width: 300px;
}

.pnr_search,
.run_search,
.details_search {
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin-right: 100px;
    color: #e9f0f0;
    border: 1px solid #ED5B25;
    border-radius: 5px;
    background-color: #ED5B25;
    transition: all 0.2s ease-in 0.05s;
}

.pnr_search:hover,
.run_search:hover,
.details_search:hover {
    transform: scale(1.1);
}

#footer {
    width: 100vw;
    height: 100px;
    background-color: #faf7f7;
}

.train-details {
    margin-top: 20px;
}